<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
  <title>Description of computeGrid</title>
  <meta name="keywords" content="{{fun.name}}">
  <meta name="description" content="{{fun.name}} {{fun.summ}}">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="" content="PyMDoc documentation generator for Matlab v1.0 &copy; 2017 Andres Ferreiro">
  <meta name="robots" content="index, follow">
  <link type="text/css" rel="stylesheet" href="{{style}}/style.css">
</head>
<body>
<a name="_top"></a>
<header>{% if project_logo %}<center><img src="../{{project_logo}}" alt="Project Logo" border="2px" style="width:10%;height:10%;"></center>{% endif %} {% if project_name %}
  <br><strong>{{project_name}}</strong></br>
  {% endif %}</header>
  <nav>
    {% for item in pathslist %}
    <a href="{{item+'.html'}}">{{item}}</a>
    {% endfor %}
  </nav>
<article>
<div><a href="../index.html">Home</a>\{{fun.name}}.m</div>
<h1><img alt="^" border="0" src="{{style}}/matlabicon.gif"><strong> Function:</strong> {{fun.name}}</h1>

<h2><a name="_toc"></a>Table of Contents: </h2>
<ul style="list-style:none">
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_summary">Summary</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_usage">Function usage</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_description">Description</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_IO">I/O parameters</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_iparams">Input parameters</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_oparams">output parameters</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_cri">Cross-reference Information</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_usedby">Used by</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_uses">Uses</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_misc">Miscellaneous information</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_author">Author</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_version">Current Version</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_date">Date</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_company">Company</a></li>
    <li><img alt="mt" border="0" src="{{style}}/info.png"><a href="#_code">Source Code</a></li>
</ul>

<h2><a name="_summary"></a>Summary. <a href="#_top"><img alt="^" border="0" src="{{style}}/up.png"></a></h2>
<div class="box"><strong>{{fun.summ}}</strong></div>

<h2><a name="_usage"></a>Function usage: <a href="#_top"><img alt="^" border="0" src="{{style}}/up.png"></a></h2>
<div class="box"><strong>{{fun.usage}} </strong></div>

<h2><a name="_description"></a>Description: <a href="#_top"><img alt="^" border="0" src="{{style}}/up.png"></a></h2>
<div class="box">{{fun.desc.replace('\n', '<br>')}}</div>

<h2><a name="_IO"></a>I/O parameters: <a href="#_top"><img alt="^" border="0" src="{{style}}/up.png"></a></h2>

<h3><a name="_iparams"></a>Input parameters: <a href="#_top"><img alt="^" border="0" src="{{style}}/up.png"></a></h3>
<div class="box"><pre class="comment"> Here are the parameters used as inputs for this function:
  {% for item in fun.iparams %}
      <li>[<b><FONT color="#0000FF">{{item.typ}}</FONT></b>] <b>{{item.name}}:</b> {{'\n'.join(item.desc)}}</li>
  {% endfor %}
</pre></div>

<h3><a name="_oparams"></a>Output parameters: <a href="#_top"><img alt="^" border="0" src="{{style}}/up.png"></a></h3>
<div class="box"><pre class='comment'> Here are the parameters used as inputs for this function:
  {% for item in fun.oparams %}
      <li>[<b><FONT color="#0000FF">{{item.typ}}</FONT></b>] <b>{{item.name}}</b>: {{'\n'.join(item.desc)}}</li>
  {% endfor %}
</pre></div>

{% if usage %}
<h2><a name="_cri"></a>Cross-reference information: <a href="#_top"><img alt="^" border="0" src="{{style}}/up.png"></a></h2>

<h3><a name="_usedby"></a>Used by: <a href="#_top"><img alt="^" border="0" src="{{style}}/up.png"></a></h3>
<div class="box">
  <ul style="list-style:none">
  {% for item in fun.usedby %}
  <li><img alt="mt" border="0" src="{{style}}/matlabicon.gif"><a href="{{item}}.html"> {{item}}</a></li>
  {% endfor %}
</ul>
</div>

<h3><a name="_uses"></a>Uses: <a href="#_top"><img alt="^" border="0" src="{{style}}/up.png"></a></h3>
<div class="box">
  <ul style="list-style:none">
  {% for item in fun.uses %}
  <li><img alt="mt" border="0" src="{{style}}/matlabicon.gif"><a href="{{item}}.html"> {{item}}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}
<h2><a name="_misc"></a>Miscelaneous information: <a href="#_top"><img alt="^" border="0" src="{{style}}/up.png"></a></h2>
<ul>
  <li><a name="_author"></a><strong>Author: </strong> {{fun.author}}</li>
  <li><a name="_version"></a><strong>Version: </strong> {{fun.version}}</li>
  <li><a name="_date"></a><strong>Date: </strong>{{fun.date}}</li>
  <li><a name="_company"></a><strong>Company: </strong> {{fun.company}}</a></li>
</ul>

{% if code %}
<h2><a name="_code"></a>Source Code: <a href="#_top"><img alt="^" border="0" src="{{style}}/up.png"></a></h2>
<div class="box"><pre class="code">
      {{'\n'.join(code)}}
</pre></div>
{% endif %}
</article>
<footer><address>Generated on {{date}} by <strong><a href="https://bitbucket.org/ferreteleco/pymdoc-generator" title="PyMDoc documentation generator for Matlab v1.0">PyDoc documentation generator for Matlab v{{version}}</a></strong> &copy; 2017</address></footer>
</body>
</html>
